
<h2>Project List</h2>

<h3>Click on a project to view or assign a volunteer:</h3>
<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no projects to display.</p>
<% end %>

<form action="/projects" method="post">
<div class="form-group">
  <label for="project_name">Project name</label>
  <input id="n" name="project_name" class="form-control" type="text">
</div>
<button type="submit" class="btn">Add project</button>
</form>

<p><a href="/projects">Return to projects list</a></p>
